
<h1 style="text-align: center;">Help Center</h1>


<div class="row mt-5">
<div class="card col-md-4 mb-3" style="width: 18rem; text-align: center;">
    <div class="card-body">
      <h4 class="card-title">FAQ's</h4>
      <a href="#" class="card-link">Click Here</a>
    </div>
  </div>

  <div class="card col-md-4 mb-3" style="width: 18rem; text-align: center;">
    <div class="card-body">
      <h4 class="card-title">Contact Support</h4>
      <a href="#" class="card-link">Click Here</a>
    </div>
  </div>

  <div class="card col-md-4 mb-3" style="width: 18rem; text-align: center;">
    <div class="card-body">
      <h4 class="card-title">Privacy Policy</h4>
      <a href="#" class="card-link">Click Here</a>
    </div>
  </div>

</div>


